button {
    background-color: rgba(255, 115, 0, 0.644);
    padding: 8px;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid black;

    transition: 0.1s ease-in-out;
}

button:hover {
    background-color: rgba(255, 115, 0, 0.883);
}