@import 'config';

.card {
    font-family: $handwriting;
    min-width: 350px;
    max-width: 400px;
    min-height: 350px;
    background: linear-gradient(-45deg, rgb(255, 216, 42), rgb(255, 225, 91));

    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.383);
    padding: 15px;

    h1 {
        margin: 0;
        text-align: center;
    }
}